In [3]:
import os
import pandas_datareader.data as web
from datetime import datetime

os.environ["FRED_API_KEY"] = "YOUR_FRED_API_KEY"
df = web.DataReader("EFFR", "fred", start=datetime(2015,1,1), end=datetime(2025,10,10))
print(df.tail())

            EFFR
DATE
2025-10-02  4.09
2025-10-03  4.09
2025-10-06  4.09
2025-10-07  4.09
2025-10-08  4.10

In [4]:
df

            EFFR
DATE
2015-01-01   NaN
2015-01-02  0.12
2015-01-05  0.12
2015-01-06  0.12
2015-01-07  0.12
...          ...
2025-10-02  4.09
2025-10-03  4.09
2025-10-06  4.09
2025-10-07  4.09
2025-10-08  4.10

[2810 rows x 1 columns]